Source: calculator
Section: devel
Priority: extra
Maintainer: Zhang Xiang <x1986.zhang@samsung.com>, Wang YongJun <yj.wang@samsung.com>, Zhou Zhibin <zhibin.zhou@samsung.com>
Uploaders:
Build-Depends: debhelper (>= 5), libelm-dev, libslp-utilx-dev, dlog-dev, libsvi-dev, libevas-dev, libedje-dev, capi-appfw-application-dev
Standards-Version: 0.1.0

Package: com.samsung.calculator
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Calculator application

Package: com.samsung.calculator-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Calculator application

